# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../Homework_QLNV\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../:\JavaProject\Homework_QLNV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
